* {
  border: none;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px 30px;
  width: 100%;
  height: 60px;
}

nav .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  margin: 0 50px;
}

nav .left .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .left .logo h1 img {
  width: 40px;
  height: 40px;
}

nav .left .help {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-left: 10px;
  border-left: #ffffff 2px solid;
}

nav form.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav form.search input[type="search"] {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
}

nav form.search input[type="search"]:hover {
  background-color: brown;
  outline: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li.nav-btn1 {
  font-size: 20px;
  width: 250px;
  height: 50px;
  border: #ffffff 2px solid;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

nav ul li.nav-btn2 {
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-color: #4C5FD5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 150px 0 10px;

}

nav ul li.nav-btn2:hover {
  background-color: #ffffff;
}

nav ul a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

/* hero Section */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dadbf1;
  width: 100%;
  height: 40vh;
}

.hero p {
  font-size: 80px;
  color: #000000;
  margin-bottom: 20px;
}

.hero form {
  position: relative;
  width: 720px;
}

.hero form input[type="search"] {
  width: 100%;
  height: 66px;
  font-size: 18px;
  padding: 0 60px 0 20px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}

.hero form .search-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-55%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

